@import "variables";

@media only screen and (max-width: 768px) {
  .album-header-container {
    margin-top: 15px;
    margin-bottom: 5px;


    .col-md-3

      img {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
  }

  // This styles the right side of our Album Header
  .album-header-information {
    // Pushes the album information down and makes sure there's sufficient space at the bottom of the page
    margin-top: 10px;
    margin-bottom: 20px;

    h3, h4, h5 {
      // Modifying the line height allows us to increase the spacing above and
      // below the content. Another way of achieving the same effect would be to
      // set a margin-top and margin-bottom for each of these classes
      line-height: 150%;
      text-align: center;
    }

    h3 {
      font-size: 3em;
      font-weight: 300;
    }

    h4 {
      font-size: 1.5em;
      font-weight: 700;
    }

    h5 {
      font-size: 1em;
      font-weight: 500;
    }
  }


  // This styles our Song Listing
  .table.album-song-listing {
    // Override the font for the entire table.
    font-weight: 300;

    // Override the defaults that Bootstrap sets.
    td {
      padding: 20px;
      border-top: 1px solid rgba(255, 255, 255, .4);

    }
  }

  .album-song-button {
    text-align: center;
    font-size: .875em;
    background-color: $button-background;
    color: #d2287b;
    border-radius: 50% 50%;
    display: inline-block;
    width: 28px;
    height: 28px;

    i {
      line-height: 28px;
    }

    .fa-play {
      padding-left: 5px;
    }
  }

  .album-song-listing td {
    vertical-align: center;
  }

  td.song-number {
    padding: 0;
    height: 70px;
    text-align: center;
  }

  footer {
    visibility: hidden;
  }
}

@media only screen and (min-width: 1024px) {

  .album-header-container {
    margin-top: 55px;
    margin-bottom: 40px;
  }

  // This styles the right side of our Album Header
  .album-header-information {
    // Pushes the album information down and makes sure there's sufficient space at the bottom of the page
    margin-top: 45px;
    margin-bottom: 20px;

    h3, h4, h5 {
      // Modifying the line height allows us to increase the spacing above and
      // below the content. Another way of achieving the same effect would be to
      // set a margin-top and margin-bottom for each of these classes
      line-height: 150%;
    }

    h3 {
      font-size: 3em;
      font-weight: 300;
    }

    h4 {
      font-size: 1.5em;
      font-weight: 700;
    }

    h5 {
      font-size: 1em;
      font-weight: 500;
    }
  }


  // This styles our Song Listing
  .table.album-song-listing {
    // Override the font for the entire table.
    font-weight: 300;

    // Override the defaults that Bootstrap sets.
    td {
      padding: 20px;
      border-top: 1px solid rgba(255, 255, 255, .4);

    }
  }

  .album-song-button {
    text-align: center;
    font-size: 0.875em;
    background-color: $button-background;
    color: #d2287b;
    border-radius: 50% 50%;
    display: inline-block;
    width: 28px;
    height: 28px;

    &:hover {
      cursor: pointer;
      color: #ffffff;
      background-color: $button-hover-background;
    }

    i {
      line-height: 28px;
    }

    .fa-play {
      padding-left: 5px;
    }
  }


  .album-song-listing td {
    vertical-align: center;
    text-align: center;
  }

  td.song-number {
    padding: 0;
    height: 70px;
    text-align: center;
  }

  footer {
    visibility: hidden;
  }

}




