@import "variables";

@media only screen and (max-width: 768px) {

  .hero-content {
    background: $heroContent;
    padding: 20px 0;
    display: table;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    //text-align: center;

    h1 {
      font-size: 4.375em;
      font-weight: 300;
      color: $headerColor;
      width: 280px;
      margin-left: auto;
      margin-right: auto;
    }
    h3 {
      color: $headerColor;
      width: 280px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .selling-points {
    width: 280px;
    margin-right: auto;
    margin-left: auto;

    .point {
      width: auto;
      padding-bottom: 5px;

      h5 {
        font-size: 1.5em;
        font-weight: bold;
        height: 2.25em;
      }

      p {
        font-size: 1.25em;
      }
    }
  }
}

@media only screen and (min-width: 768px) {

  .hero-content {
    background: $heroContent;
    padding: 100px 0;

    h1 {
      font-size: 70px;
      margin-bottom: 50px;
      font-weight: 300;
    }
  }

  .selling-points {
    padding: 100px 0;

    .point {
      width: 32%;
      padding: 0 0.5%;

      h5 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        //text-align: center;
        height: 85px;
      }

      p {
        font-size: 14px;
        text-align: center;
      }
    }
  }

  footer {
    background-color: $headerColor;
    height: 50px;
    margin-top: 10px;
  }
}