@import "variables";

@media only screen and (max-width: 768px) {

  .hero-content {
    background: $heroContent;
    padding: 20px 0;
    display: table;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    h1 {
      font-size: 4.375em;
      font-weight: 300;
      color: $headerColor;
      width: 280px;
      margin-left: auto;
      margin-right: auto;
      visibility: hidden;
    }
    h3 {
      color: $headerColor;
      width: 280px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .selling-points {
    width: 280px;
    margin-right: auto;
    margin-left: auto;

    .point {
      width: auto;
      padding-bottom: 5px;

      h5 {
        font-size: 1.5em;
        font-weight: bold;
        height: 2.25em;
      }

      p {
        font-size: 1.25em;
      }
    }
  }

  .landing-album-list {

    .card-container {

      .card {

        .side {
          position: relative;
          left: calc(50% - 200px);
        }

        h3, h4 {
          visibility: hidden;
        }
      }
    }


  }
}

@media only screen and (min-width: 768px) {

  .hero-content {
    background: $heroContent;
    padding: 100px 0;

    h1 {
      font-size: 70px;
      margin-bottom: 50px;
      font-weight: 300;
    }
  }

  .selling-points {
    padding: 100px 0;

    .point {
      width: 32%;
      padding: 0 0.5%;

      h5 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        height: 85px;
      }

      p {
        font-size: 14px;
        text-align: center;
      }
    }
  }

  .landing-album-list {
    height: auto;
    width: auto;

    .card-container {
      height: 400px;
      perspective: 600;
      position: relative;
      width: 400px;

      .card {
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: all 1s ease-in-out;
        width: 100%;

        &:hover {
          transform: rotateY(180deg);
        }

        .side {
          backface-visibility: hidden;
          height: 100%;
          position: absolute;
          width: 100%;
        }

        .back {
          background-color: $headerColor;
          text-align: center;
          transform: rotateY(180deg);
        }

        h3 {
          color: rgba(255, 255, 255, 0.6);
          font-size: 3em;
          font-weight: bold;
        }

        h4 {
          color: rgba(255, 255, 255, 0.6);
          font-size: 2em;
        }
      }
    }

  }



}