
// SASS Variables
$font-stack: 'Open Sans';
$headerColor: rgba(123, 70, 163, .9);
$textColor: white;
$backgroundColor: #5B5579;
$altTextColor: rgba(123, 70, 163, .9);
$altBackgroundColor: white;
$heroContent: #2F1D57;

// end variables


// SASS Mixins
@mixin radial-gradient($first_color, $second_color) {
  background: -webkit-radial-gradient($first_color, $second_color);
  background: radial-gradient($first_color, $second_color);
}
// end mixins