@import "landing";
@import "album";
@import "collection";
@import "player_bar";
@import "profile";
@import "buttons";
@import "variables";


// Global and mobile first styles
html {
  height: 100%;
}

body {
  font-family: $font-stack;
  color: $textColor;
  min-height: 100%;
  @include radial-gradient(#2B1339, #380c77);
  padding-bottom: 160px;
}

.player-header-nav {
  background-color: $headerColor;

  .navbar-nav {

    li {
      text-align: center;

      a {
        font-size: 1.2em;
        color: white;

        &:active {
          background-color: white;
          color: $headerColor;
          font-weight: bold;

        }
      }
    }

  }
}

.navbar-default {
  border: none;

  .navbar-collapse {
    border-top: none;
    box-shadow: none;
  }

  .navbar-brand {
    height: auto;
  }
}

.navbar-default .navbar-header .navbar-toggle {
  background-color: $headerColor;
  border-color: white;
  padding: 10px;
  top: 25px;
  right: 10px;

  &:hover {
    background-color: white;

    .icon-bar {
      background-color: $headerColor;
    }
  }

  .icon-bar {
    background-color: white;
  }

}

// Styles for screens 768px and above
@media only screen and (min-width: 768px) {

  body {
    font-family: $font-stack;
    color: $textColor;
    min-height: 100%;
    @include radial-gradient(#2B1339, #380c77);
    padding-bottom: 150px;
  }

  body.landing {
    background: $backgroundColor;
    padding-bottom: 0;
  }

  body.landing .navbar {
    margin-bottom: 10px;
  }

  .player-header-nav {
    background-color: $headerColor;
  }

  .navbar-default {
    border: none;
  }

  .navbar-default .navbar-collapse .navbar-nav {
    a {
      line-height: 20px;
      color: $textColor;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.2;
      margin-right: 20px;

      &:hover {
        color: $altTextColor;
        background-color: $altBackgroundColor;
      }
    }
  }
}


