@import "landing";
@import "album";
@import "collection";
@import "player_bar";
@import "profile";
@import "buttons";

/* define the mixin */
@mixin radial-gradient($first_color, $second_color) {
  background: -webkit-radial-gradient($first_color, $second_color);
  background: radial-gradient($first_color, $second_color);
}
/* end mixin */

// SASS Variables
$font-stack: 'Open Sans';

// end variables

html {
  height: 100%;
}

body {
  font-family: $font-stack;
  color: white;
  min-height: 100%;
  @include radial-gradient(#2B1339, #380c77);
  padding-bottom: 150px;
}

body.landing {
  background: #5B5579;
  padding-bottom: 0;
}

body.landing .navbar {
margin-bottom: 0;
}

.player-header-nav {
  background-color: rgba(123, 70, 163, .9);
}
