@import "landing";
@import "album";
@import "collection";
@import "player_bar";
@import "profile";
@import "buttons";
@import "variables";


// Global and mobile first styles
html {
  height: 100%;
}

body {
  font-family: $font-stack;
  color: $textColor;
  min-height: 100%;
  @include radial-gradient(#2B1339, #380c77);
  padding-bottom: 0;
}

.player-header-nav {
  background-color: $headerColor;

  .navbar-nav {

    li {
      text-align: center;
    }
  }
}

.navbar-default {
  border: none;
  height: 100px;
}

.navbar-default .navbar-header .navbar-toggle {
  background-color: $headerColor;
  border-color: white;

  &:hover {
    background-color: white;

    .glyphicon-chevron-down {
      color: $headerColor;
    }
  }

  .glyphicon-chevron-down {
    color: white;
  }

}

// Styles for screens 1024px and above
@media only screen and (min-width: 1024px) {

  body {
    font-family: $font-stack;
    color: $textColor;
    min-height: 100%;
    @include radial-gradient(#2B1339, #380c77);
    padding-bottom: 150px;
  }

  body.landing {
    background: $backgroundColor;
    padding-bottom: 0;
  }

  body.landing .navbar {
    margin-bottom: 10px;
  }

  .player-header-nav {
    background-color: $headerColor;
  }

  .navbar-default {
    border: none;
  }

  .navbar-default .navbar-collapse .navbar-nav {
    a {
      line-height: 20px;
      color: $textColor;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.2;
      margin-right: 20px;

      &:hover {
        color: $altTextColor;
        background-color: $altBackgroundColor;
      }
    }
  }
}


